.Rproj.user
.Rhistory
.RData
.Ruserdata
*.docx
*.Rproj
*.html
*.pptx
*.msg
*.jags
*.png

data/
figs/
Barrett/
images/
setUpProject_testOnly.R
linkedPlots_Tests1.Rmd
archive/
refs/
capcod/

debug.log
scratch_pad.R
tmp.Rmd
graphs.R
